*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*:focus{outline: none;}


html,
body{
    font-family: 'Roboto','Helvetica';
    background-color: #F4F4F4;
    
}

/* ------- BUTTONS ------- */


.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;


    -webkit-transition: all;
    transition: all;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;


    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color:#f3aa62;
    color: #fff;
    text-transform:uppercase;
    font-weight: 700;

}
.btn:hover,
.btn:active,
input[type=submit]{
    cursor: pointer;
    background-color:#e08f3e;
    color: #fff;
   
}

.btn-radius{
    background-color: #f3aa62;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.btn-radius:hover:hover,
.btn-radius:active{

    background-color:#e08f3e;
}

/* ------------------------------------------------------------ */
/* HEADINGS */
/* ------------------------------------------------------------ */
h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    word-spacing: 4px;
    font-weight: 300;

}
h2{
    font-size: 180%;
    font-weight: 400;
    word-spacing: 2px;
    text-align: center;
    margin: 50px 0px;
    text-transform: uppercase;
    
}




h3{
    font-weight: 400;
    font-size: 110%;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
}

h4{
    font-weight: 400;
    font-size: 110%;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
}

/* ----Paragraph ---- */
p{
    margin: 60px 60px;
    font-weight:  300;
    font-size: 20px;
    text-align: center;
}

/* ------------------------------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------------------ */

.clearfix{zoom: 1;}
.clearfix::after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;

}

.row{
    max-width: 1140px;
    margin: 0 auto;

}

.box{
    padding: 1%;
}

.clearfix{zoom: 1;}
.clearfix::after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;

}
section{
    background-color: #f4f4f4;
}

/* ------------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------------ */

header{
    background:linear-gradient(rgba(68,169,248,0.7),rgba(68,169,248,0.7)), url(../img/background-blue.jpg),top center no-repeat ;
    background-size: cover;
    height: 100vh;
    

}

header h1{
    font-size: 40px;
}


.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
/* Main navi */
.main-nav{
    float: right;
    text-transform: uppercase;

   margin-top: 20px;
}
.main-nav li {
    display: inline-block;
    list-style: none;
    margin-top: 23px;
    margin-right: 25px;
    padding: 0;
}

.main-nav li a {
    text-decoration: none;
}


.main-nav, 
.main-nav li a:link,
.main-nav li a:visited{
    text-decoration: none;
    color: #fff;

    font-size: 100%;
    padding: 5px 0px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}



/* sticky nav */


.sticky{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: #3d74e6;
    z-index: 9999;
}
.sticky .main-nav{
    margin: 0px  60px;
    margin-top: 5px;
}

.nav-bar{
    font-size: 350%;
    float: right;
    color: #fff;
    margin-top: 30px;
    margin-right: 100px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.sticky .logo-white{
    height: 70px;
    float: left;

    margin: 0;
    margin-left: 100px;
    cursor: pointer;
}

.sticky .nav-bar{
    font-size: 250%;
    float: right;
    color: #fff;
    margin-top: 20px;
    margin-right: 100px;
    cursor: pointer;
    transition-duration: 0.5s;
} 
/* Mobile Nav */


.nav-bar:hover{
    color: #f3aa62;
}
.logo-white{
    height: 90px;
    float: left;
    margin-top: 13px;
    margin-left: 100px;
    cursor: pointer;
}

.search-btn{
    font-size: 250%;
    color: #fff;
    margin-bottom: -15px;
    margin-left: 15px;
    cursor: pointer;

 

    
}
input[type=text]{

    width: 80%;
    margin-top: 45px;
  
    padding: 8px;
    padding-left: 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: none;
}

.area-search{
    width: 50%;
    margin: 0 auto;
    padding: 0;

}

.steps-box:last-child .btn-radius {

    font-size: 23px;
    margin-top: 50px;
}


/* ----- bar search ----*/

.sticky .area-search{
    margin-top: -26px;
    margin-bottom: 20px;
}



/* ------------------------------------------------------------ */
/* STEP */
/* ------------------------------------------------------------ */
.section-step{
    padding-bottom: 80px;
}
.steps-box:first-child{
    text-align: center;
    padding-left: 3%;
    margin-top: 30px;
    font-size: 20px;
    padding-top: 100px;
}
.steps-box:last-child{
    padding-left: 3%;
}
.app-screen{
    width: 90%;
}
.works-steps{
    margin-bottom: 50px;
}



.works-steps{
    margin-top: 55px;
}



.text-for-step{
    width: 100%;
}


/* ------- ICONS ------- */
.icon-big{
    display: block;
    font-size:350%;
    font-weight: 600;
    margin-bottom: 55px;
    
    color: #e67e22;
}
.icon-small{

    color: #e67e22;

    font-size: 120%;
    text-align: center;
    /*secrets to align text and icon*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
    
    
}




/* ------------------------------------------------------------ */
/* HOW IT'S WORKS */
/* ------------------------------------------------------------ */
.row-how-it-work{
    margin-top: 40px;
}



.icon-and-title-side{
    text-align: center;
}


.step-box{
    width: 100%;
}

.li-text{
    margin-left: 10px;
    
}


 li {
    list-style-type: none;
    display: flex;
    padding-left: 4em;
    margin-top: 20px;

}
ul:first-child {
    margin-top: 50px;
}

  

/* ------------------------------------------------------------ */
/* CODEACADEMY TEAM */
/* ------------------------------------------------------------ */
.section-team{
    margin-bottom: 40px;
}

.customer{
    width: 100%;
}

.box-team div{
  width: 90%;
  margin: 0 auto;
    
}


.box-team div{
    text-align: center;
    background-color: #fff

}




/* ---- Change h3 for CODEACADEMY TEAM ---- */

.box-team div h3{
    margin: 0;
    padding: 5px;
    background-color: #fff;
    text-transform: capitalize;
    padding-bottom: 10px;

}

.box-team div h4{
    font-weight: 300;
    margin: 0;
    padding: 10px 10px;
    padding-bottom: 20px;
    color: rgb(141, 140, 140);
    background-color: #fff;
    text-transform: capitalize;

}



/* ------------------------------------------------------------ */
/* SECTION ANYWHERE */
/* ------------------------------------------------------------ */




.screen-pc{
    width: 100%;
}
.screen-pc img{
    width: 100%;
}
.enroll-now-btn{
    margin: 40px auto;
}
.section-anywhere{
    padding-top: 34px;
    padding-bottom: 100px;
}


/* ------------------------------------------------------------ */
/* SECTION TESTIMONIALS */
/* ------------------------------------------------------------ */

.section-testimonials{
    background:linear-gradient(rgba(68,169,248,0.7),rgba(68,169,248,0.7)), url(../img/background-testimonials.webp) center center fixed;
    background-size: cover;
    padding-bottom: 55px;
    
}

.section-testimonials h2{
    color: #F4F4F4;
}

.section-testimonials .row .col{
    background-color: #fff;
    margin: 20px auto;
}

.customer-testimonials img {
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;;
    
}
.customer-testimonials{
    width: 100px;
    margin: 0 auto;

}

.section-testimonials .row .box{
    background-color: rgb(224, 143, 62,0);
    width: 100%;
   
}
.side-image-element{
    margin: 0;
 
    border-bottom: 2px solid rgb(177, 177, 177);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.side-image-element h4 {
    text-transform: capitalize;
    padding: 10px 0px;
}


.inside-box{
    padding-top: 25px;
    margin: 5px auto;
    border-radius: 15px;
    width: 60%;
    height: 400px;
    background-color: #F4F4F4;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}



/* ------------------------------------------------------------ */
/* SECTION SIGN UP FREE */
/* ------------------------------------------------------------ */


.section-signup-free{
    margin: 0 auto;
    padding: 60px 0px;
}

.section-signup-free{
    text-align: center;
}
.btn-signup{
    font-size: 170%;
    margin-bottom: 40px;
}


.box-signup{
    box-shadow: rgba(0, 0, 0, 0.2) 2px 3px 4px 2px;
}
.box-signup h2{
    padding-top: 50px ;
}




/* ------------------------------------------------------------ */
/* FOOTER */
/* ------------------------------------------------------------ */

footer{
    background-color: #3d74e6;
}
/* ----  First Box ---- */
.first-box{
    border-bottom: #fff 2px solid;
}
.logo-white-footer{
    width: 130px;
}

.box-logo{
    display: flex;
    justify-content: center;
    border-bottom: #fff;
}
footer .row h4{
    font-size: 140%;
    color: #fff;
}

/* ---- The Second Box ---- */
.second-box{
    display: flex;
    justify-content: right;
}

.copyright-box p{
    
  
    color: #fff;
    text-align: left;

  
}


.list ul li a{
    text-decoration: none;
    color: #fff;
}


.list{
    margin-left: 100px;

}
.list ul  li{
    float: left;
    margin: 13px 0px;
}
