
/* Big tablet to 1200px: from 1023px to 1200px*/
@media only screen and (max-width:1200px){
   
    header h1{
        font-size: 30px;
    }
  
    .header-box{
        margin-top: 140px;
        height: 280px;
    }
    

    .logo-white{
    height: 90px;
    float: left;
    margin-top: 13px;
    margin-left: 40px;
    cursor: pointer;
    }

    .area-search{
        width: 400px;
        margin-left: 190px;
        padding: 0;
    
    }

    /* -----  COURSES -----*/
 
    .image-course{
        width: 85%;
        margin: 0 auto;
    }
  
}




/* Small tablet to big tablet: from 768px to 1023px*/
@media only screen and (max-width:1023px){
    .col{
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
    
    }

    .logo-area{
        margin-left: 40px
    }

 
/* Mobilre nav */
.main-nav{
    float: right;
    text-transform: uppercase;
    margin-top: 55px;

   
}
.main-nav li {
    display: inline-block;
    list-style: none;
    margin-right: 25px;
    margin-top: -0px;
    padding-bottom: 10px;
}

/* nav bar*/
.nav-bar{
    margin: 30px 60px;

}


.btn-header{
    margin-left: 300px;
  }


.box-course{
    width: 400px;
    margin: 0 auto;
}

}






/* Small phones to small: from 481px to 767px */
@media only screen and (max-width:767px){

/* Mobile icon */
.mobile-icon-small{
    font-size: 300%;
    margin: 0;
    padding: 0;
}

/* Heading*/
h2{
    font-size: 150%;
    padding: 0px;

}
h3{
  
    font-size: 100%;
    padding: 30px;
    margin: 0;

}



/* nav bar*/
.sticky .nav-bar{
    margin: 0px 50px;
    margin-top: 15px;
    font-size: 250%;
}
.nav-bar{
    margin: 0px 50px;
    margin-top: 40px;
    font-size: 250%;
}

/* area search */
.area-search{
    margin-left: 130px;
}

.search-btn{
    font-size: 220%;
}
.area-search{
    width: 300px;
}

.sticky .area-search{
    margin-left: 150px;
    width: 300px;
}
 
.stciky .search-btn{
    font-size: 220%;
}


/* Mobile logo */

.sticky .logo-white{
    height: 60px;

    margin-top: 9px;
    margin-left: 100px;

}
.logo-white{
    height: 60px;

    margin-top: 9px;
    margin-left: 40px;

}

/* Mobile Nav */

.nav-bar:hover{
    color: #f3aa62;
}
.logo-white{
    height: 70px;
    float: left;
    margin-top: 25px;
    cursor: pointer;
}
.sticky .logo-white{
    margin-left: 50px;
}


input[type=text]{

    width: 80%;
    margin-top: 45px;
  
    padding: 8px;
    padding-left: 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: none;
}

.header-box{
       display: block;
    
    background-color: #F4F4F4;
    margin-top: 200px;
    height: 290px;
    width: 682px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.btn-header{
    margin-left: 200px;
  }

/* Subscirbe section */

.subscribe-box{

    width: 500px;
    margin-bottom: 50px;
}

}


/* Small phones: from o to 480px*/
@media only screen and (max-width:480px){

.box-course{
    width: 300px;
}

/* Header */


.hero-text-box h1{
    font-size: 160%;
}
.hero-text-box{
    margin-top: 0px;
}
.area-search{
    display: none;
} 

.header-box{
    height: 330px;
    margin-top: 140px;
   
}
.btn-header{
    margin-left: 130px;

  }

  
/* Subscirbe section */

.subscribe-box{

    width: 400px;
    height: 300px;
    margin-bottom: 50px;
}
input[type=email]{
    width:60%;
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 20px;
    padding: 8px;
    padding-left: 30px;
    border-radius: 6px;
    border: 1px solid rgb(228, 225, 225);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.paragraph-subscribep p{
    margin: 60px 60px;
    font-weight:  300;
    font-size: 20px;
    text-align: center;
}

input[type=submit]{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;

    margin-left: 120px;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;


    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/*----- FOOTER -----*/

.logo-white-footer{
    width: 90px;
}
.box-logo{
    display: flex;
    justify-content: center;
    border-bottom: #fff;
    
}

.first-box{
    font-size: 10px;
}

/* ---- The Second Box ---- */
.second-box{
    display: flex;
    justify-content: right;
}

.copyright-box p{
    
  
    color: #fff;
    text-align: left;
    font-size: 14px;

  
}


.list ul li a{
    text-decoration: none;
    color: #fff;
}


.list{
    margin-left: 100px;

}
.list ul  li{
    
    list-style: none;
    padding-right: 50px;
    padding-top: 50px;
    float: left;
    margin: 13px 0px;
}


}